---
import BentoItem from "../components/BentoItem.astro";

import gaming from "../img/gaming-icon.webp";
import health from "../img/health-icon.webp";
import house from "../img/house-icon.webp";
import laptop from "../img/laptop-icon.webp";
import makeup from "../img/makeup-icon.webp";
import ring from "../img/ring-icon.webp";
import shirt from "../img/shirt-icon.webp";
import shoes from "../img/shoes-icon.webp";
import toy from "../img/toy-icon.webp";
---

<section>
  <h2 class='font-bold text-[1.35rem] sm:text-3xl md:text-4xl lg:text-5xl text-center mb-1 md:mb-2 text-balance'>
    Explora nuestras categorías
  </h2>
  <h3 class="font-regular text-sm md:text-lg text-center mb-8 text-balance">Navega por cada una de las categorías en busca de eso que necesitas</h3>
  <div class='grid auto-cols-[16rem] justify-center sm:grid-cols-3 mx-auto auto-rows-[4rem] gap-4 sm:gap-8 max-w-[750px]'>
    <BentoItem categoryName='Juguetes' icon={toy.src} />
    <BentoItem categoryName='Tecnología' icon={laptop.src} />
    <BentoItem categoryName='Maquillaje' icon={makeup.src} />
    <BentoItem categoryName='Vestimenta' icon={shirt.src} />
    <BentoItem categoryName='Calzado' icon={shoes.src} />
    <BentoItem categoryName='Hogar' icon={house.src} />
    <BentoItem categoryName='Gaming' icon={gaming.src} />
    <BentoItem categoryName='Accesorios' icon={ring.src} />
    <BentoItem categoryName='Salud' icon={health.src} />
  </div>
</section>
